<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.bloodbank.login.servlet.LoginServlet</servlet-class>
</servlet>

  <servlet>
  <servlet-name>DonorReg</servlet-name>
  <servlet-class>com.bloodbank.donorReg.servlet.DonorServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  <servlet-name>donorSearch</servlet-name>
  <servlet-class>com.bloodbank.donorReg.servlet.DonorServlet</servlet-class>
  </servlet>

<servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>


<servlet-mapping>
  <servlet-name>DonorReg</servlet-name>
  <url-pattern>/DonorReg</url-pattern>
</servlet-mapping>


<servlet-mapping>
  <servlet-name>donorSearch</servlet-name>
  <url-pattern>/donorSearch</url-pattern>
</servlet-mapping>




</web-app>